@using SQLFlowUi.Controllers
@inject DocumentationService DocService
@page "/edit-ingestion-token-exp"

@code
{
    
    private bool FullScreen { get; set; } = false;

    private void ToggleFullScreen()
    {
        FullScreen = !FullScreen;
    }

    private string pastedText;
    private async Task PasteText1()
    {
        pastedText = await JSRuntime.InvokeAsync<string>("readTextFromClipboard");
        if (!string.IsNullOrEmpty(pastedText))
        {
            ingestionTokenExp.SelectExp = pastedText;
            StateHasChanged();
        }
    }

    private async Task PasteText2()
    {
        pastedText = await JSRuntime.InvokeAsync<string>("readTextFromClipboard");
        if (!string.IsNullOrEmpty(pastedText))
        {
            ingestionTokenExp.SelectExpFull = pastedText;
            StateHasChanged();
        }
    }
}

 <PageTitle>Edit IngestionTokenExp</PageTitle>

    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save IngestionTokenExp</RadzenAlert>
        <RadzenTemplateForm TItem="SQLFlowUi.Models.sqlflowProd.IngestionTokenExp" Data="@ingestionTokenExp" Visible="@(ingestionTokenExp != null)" Submit="@FormSubmit">
        <RadzenStack>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[IngestionTokenExp].[TokenExpAlias]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@ingestionTokenExp.TokenExpAlias" Name="TokenExpAlias" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[IngestionTokenExp].[TokenExpAlias]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[IngestionTokenExp].[TokenExpAlias]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
                <Helper>
                    <RadzenRequiredValidator Component="TokenExpAlias" Text="TokenExpAlias is required" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[IngestionTokenExp].[SelectExp]").Result Variant="Variant.Outlined" Style="width: 100%;">
                <ChildContent>
                    <RadzenRow Style="width: 100%;margin-bottom: 12px;margin-top: 12px;">
                        <div class="@(FullScreen ? "fullscreen-wrapper" : "editor-section")">
                            <div class="editor-buttons-row">
                                <div class="editor-buttons-container">
                                    <RadzenButton Click=@(args => @PasteText1())
                                                  Icon="input"
                                                  Size="ButtonSize.Small"
                                                  ButtonStyle="ButtonStyle.Primary"
                                                  Variant="Variant.Flat"
                                                  Style="margin-right: 5px;" />
                                    <RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[IngestionTokenExp].[SelectExp]"))
                                                  MouseEnter="@(args => DocService.ShowTooltip(args, "[flw].[IngestionTokenExp].[SelectExp]"))"
                                                  Icon="help_outline"
                                                  Size="ButtonSize.Small"
                                                  ButtonStyle="ButtonStyle.Dark"
                                                  Variant="Variant.Flat"
                                                  Style="margin-right: 5px;" />
                                    <RadzenButton Click="@ToggleFullScreen"
                                                  Icon="@(FullScreen ? "fullscreen_exit" : "fullscreen")"
                                                  Size="ButtonSize.Small"
                                                  ButtonStyle="ButtonStyle.Secondary"
                                                  Variant="Variant.Flat" />
                                </div>
                            </div>
                            <div class="editor-container">
                                <CodeMirror6Wrapper @bind-Doc="@ingestionTokenExp.SelectExp"
                                                    Language=CodeMirrorLanguage.MsSql
                                                    LineNumbers="true"
                                                    Theme=ThemeMirrorTheme.GithubDark
                                                    FullScreen="@FullScreen"
                                                    LineWrapping="true"
                                                    ScrollPastEnd="false"
                                                    AllowHorizontalResize="false"
                                                    AllowVerticalResize="false"
                                                    Editable="true"
                                                    ReadOnly="false"
                                                    MinHeight="200px">
                                </CodeMirror6Wrapper>
                            </div>
                        </div>
                    </RadzenRow>
                </ChildContent>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[IngestionTokenExp].[SelectExpFull]").Result Variant="Variant.Outlined" Style="width: 100%;">
                <ChildContent>
                    <RadzenRow Style="width: 100%;margin-bottom: 12px;margin-top: 12px;">
                        <div class="@(FullScreen ? "fullscreen-wrapper" : "editor-section")">
                            <div class="editor-buttons-row">
                                <div class="editor-buttons-container">
                                    <RadzenButton Click=@(args => @PasteText2())
                                                  Icon="input"
                                                  Size="ButtonSize.Small"
                                                  ButtonStyle="ButtonStyle.Primary"
                                                  Variant="Variant.Flat"
                                                  Style="margin-right: 5px;" />
                                    <RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[IngestionTokenExp].[SelectExpFull]"))
                                                  MouseEnter="@(args => DocService.ShowTooltip(args, "[flw].[IngestionTokenExp].[SelectExpFull]"))"
                                                  Icon="help_outline"
                                                  Size="ButtonSize.Small"
                                                  ButtonStyle="ButtonStyle.Dark"
                                                  Variant="Variant.Flat"
                                                  Style="margin-right: 5px;" />
                                    <RadzenButton Click="@ToggleFullScreen"
                                                  Icon="@(FullScreen ? "fullscreen_exit" : "fullscreen")"
                                                  Size="ButtonSize.Small"
                                                  ButtonStyle="ButtonStyle.Secondary"
                                                  Variant="Variant.Flat" />
                                </div>
                            </div>
                            <div class="editor-container">
                                <CodeMirror6Wrapper @bind-Doc="@ingestionTokenExp.SelectExpFull"
                                                    Language=CodeMirrorLanguage.MsSql
                                                    LineNumbers="true"
                                                    Theme=ThemeMirrorTheme.GithubDark
                                                    FullScreen="@FullScreen"
                                                    LineWrapping="true"
                                                    ScrollPastEnd="false"
                                                    AllowHorizontalResize="false"
                                                    AllowVerticalResize="false"
                                                    Editable="true"
                                                    ReadOnly="false"
                                                    MinHeight="200px">
                                </CodeMirror6Wrapper>
                            </div>
                        </div>
                    </RadzenRow>
                </ChildContent>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[IngestionTokenExp].[DataType]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@ingestionTokenExp.DataType" Name="DataType" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[IngestionTokenExp].[DataType]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[IngestionTokenExp].[DataType]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[IngestionTokenExp].[Description]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@ingestionTokenExp.Description" Name="Description" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[IngestionTokenExp].[Description]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[IngestionTokenExp].[Description]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[IngestionTokenExp].[Example]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@ingestionTokenExp.Example" Name="Example" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[IngestionTokenExp].[Example]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[IngestionTokenExp].[Example]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>
        </RadzenStack>
          <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
          </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>

@code {

    public async Task OpenSysDoc(string ObjectName)
    {
        var parameters = new Dictionary<string, object>
        {
            { "ObjectName", ObjectName }
        };

        await DialogService.OpenAsync<SysDocModal>($"Documentation {ObjectName}",
            parameters,
            new DialogOptions() { Width = "1200px", Height = "760px", Resizable = true, Draggable = true });
    }
}