@using SQLFlowUi.Controllers
@inject DocumentationService DocService
@page "/edit-sys-log-assertion"


 <PageTitle>Edit SysLogAssertion</PageTitle>

    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save SysLogAssertion</RadzenAlert>
        <RadzenTemplateForm TItem="SQLFlowUi.Models.sqlflowProd.SysLogAssertion" Data="@sysLogAssertion" Visible="@(sysLogAssertion != null)" Submit="@FormSubmit">
        <RadzenStack>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[FlowID]").Result Variant="Variant.Outlined" Style="width: 49%">
                <ChildContent>
                    <RadzenNumeric Style="width: 100%; height: 40px" ShowUpDown="false" @bind-Value="@sysLogAssertion.FlowID" Name="FlowID" ReadOnly="true" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[FlowID]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[FlowID]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[AssertionID]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenNumeric Style="width: 100%; height: 40px" ShowUpDown="false" @bind-Value="@sysLogAssertion.AssertionID" Name="AssertionID" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[AssertionID]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[AssertionID]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[AssertionDate]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenDatePicker DateFormat="yyyy-MM-dd" style="display: block; width: 100%" @bind-Value="@sysLogAssertion.AssertionDate" Name="AssertionDate" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[AssertionDate]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[AssertionDate]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[AssertionSqlCmd]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextArea style="display: block; width: 100%;height: 20vh" @bind-Value="@sysLogAssertion.AssertionSqlCmd" Name="Solution" class="w-100" />

                </ChildContent><End><div style="position: absolute; top: 0; margin-top: 2px; margin-left: -16px;"><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[AssertionSqlCmd]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[AssertionSqlCmd]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></div></End>
            </RadzenFormField>
            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[Result]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@sysLogAssertion.Result" Name="Result" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[Result]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[Result]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>

            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[AssertedValue]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@sysLogAssertion.AssertedValue" Name="AssertedValue" />
                </ChildContent><End><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[AssertedValue]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[AssertedValue]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></End>
            </RadzenFormField>

            <RadzenFormField Text=@DocService.GetLabel("[flw].[SysLogAssertion].[TraceLog]").Result Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextArea style="display: block; width: 100%;height: 20vh" @bind-Value="@sysLogAssertion.TraceLog" Name="Solution" class="w-100" />
                </ChildContent><End><div style="position: absolute; top: 0; margin-top: 2px; margin-left: -16px;"><RadzenButton Click=@(args => @DocService.OpenSysDoc("[flw].[SysLogAssertion].[TraceLog]")) MouseEnter="@(args => DocService.ShowTooltip(args,"[flw].[SysLogAssertion].[TraceLog]"))" Icon="help_outline" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Dark" /></div></End>
            </RadzenFormField>
        </RadzenStack>
          <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
          </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>

@code {

    public async Task OpenSysDoc(string ObjectName)
    {
        var parameters = new Dictionary<string, object>
        {
            { "ObjectName", ObjectName }
        };

        await DialogService.OpenAsync<SysDocModal>($"Documentation {ObjectName}",
            parameters,
            new DialogOptions() { Width = "1200px", Height = "760px", Resizable = true, Draggable = true });
    }
}